<div class="container rounded border">
    <table id="tbldata" class="table table-bordered table-active table-striped">
        <thead>
            <tr>
                <th>OrderId</th>
                <th>Name</th>
                <th>OrderDate</th>
                <th>OrderStatus</th>
                <th>OrderTotal</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/Order.js"></script>
}